@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
font-family: 'Domine', serif;
font-family: 'Fraunces', serif;
font-family: 'Newsreader', serif;
font-family: 'Petrona', serif;
*/

h1 {
    font-family: 'Domine', serif;
}

#bv-logo {
    display: block;
    width: 200px;
}

.bv-nav-list {
    display: flex;
}