// Our goals styles

.bv-wide {
    margin: 0 -10vw;
}

.bv-goal {
	border: 1px solid;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
}

.bv-goal-intro {
    width: 66%;
}

.bv-action {
    padding: 1em;
    width: 33%;
}
