body {
	font-family: $font-family-serif;
	font-size: 18px;
	line-height: 1.5;
}

$font-sizes: (
	"1": 2.488rem, 
	"2": 2.074rem, 
	"3": 1.728rem,
	"4": 1.44rem,
	"5": 1.2rem,
	"6": 1rem,
);

@each $key, $size in $font-sizes {
	%font-size-#{$key} {
		font-size: $size;
	}
}

.bv-button {
	background: $color-orange;
	border: none;
	border-radius: 20px;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

p {
	margin: 1.65em auto;
}
