/*
font-family: 'Domine', serif;
font-family: 'Fraunces', serif;
font-family: 'Newsreader', serif;
font-family: 'Petrona', serif;
*/

$font-family-serif: 'Domine', serif;

$color-darkblue: #2b3990;
$color-orange: #d04428; // Adjusted for AA accessibility

@import "~normalize-scss/sass/normalize/import-now";
@import "navigation";

body {
    font-size: 18px;
}

h1 {
    font-family: $font-family-serif;
}
