/*
font-family: 'Domine', serif;
font-family: 'Fraunces', serif;
font-family: 'Newsreader', serif;
font-family: 'Petrona', serif;
*/

$font-family-serif: 'Domine', serif;

$color-darkblue: #2b3990;
$color-orange: #d04428; // Adjusted for AA accessibility

$xs: 500px;
$sm: 768px;
// Todo: set these
$md: 768px;
$lg: 768px;
$xl: 768px;

@import "~normalize-scss/sass/normalize/import-now";
@import "typography";
@import "navigation";
@import "banner";
@import "homepage";
@import "our-goals";
@import "get-involved";

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.bv-content-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5vw;
}

.bv-content-text {
    max-width: 75ch;
    margin: 0 auto;
}